/* Layout styles */
.header {
  height: 40px;
  border: 1px solid darkgray;
  background: lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.footer {
  margin: 0 auto;
  height: 60px;
  border: 1px solid #F19953;
  border-top: 4px solid #F19953; 
  background: lightgray;
}

.layout {
  border: 1px solid black;
}
/* END Layout styles */


/* Landing page styles */
.main {
  display: grid;
  grid-template-rows: auto auto auto;
  place-items: center;
}

.hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-row: 1 / span 1;
  margin-bottom: 40px;
  position: relative;
}

.heroLogo {
  display: grid;
  position: absolute;
  align-self: center;
  justify-self: center;
  z-index: 1;
}

.banner {
  display: grid;
  grid-row: 2 / span 1;
  margin-bottom: 40px;
  max-width: 80%;
}

.featured {
  display: grid;
  grid-row: 3 / span 1;
  align-items: center;
}

.featuredList {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  place-items: center;
}

/* END Landing page styles */


/* Categories page styles */
.categories {
 display: grid;
 grid-template-columns: 1fr 1fr;
 place-items: center;
 margin-bottom: 600px;
}

.category {
  margin-top: 50px;
  padding: 10px;
  border: 1px solid black;
  height: 150px;
  width: 300px;
  display: grid;
  align-content: end;
  justify-content: start;
}
/* END Categories page styles */


/* Product styles */
.productContainer {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 90vh;
}

.productImages {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px 300px;
  align-content: center;
  padding: 1rem;
}

.imageMain {
  display: grid;
  grid-column: 1 / span 2;
  grid-row-start: auto;
  place-self: center;
}
.productThumbs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-start: 2;
  grid-column: 1 / -1;
}

.imageThumb {
  display: grid;
  justify-self: center;
  border: 1px solid black;
  background: darkgrey;
  width: 80px;
  height: 80px;
}

.productDetails {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  color: #56351E;
  justify-items: start;
}
.productDetails h2 {
  display: grid;
  grid-row-start: 1;
  grid-column-start: 1;
}
.productDetails span {
  display: grid;
  grid-row-start: 1;
  grid-column-start: 1;
  align-content: center;
  color: red;
}

.productDetails p {
  width: 70%;
  display: grid;
  grid-row-start: 3;
  align-self: start;
}

.productDetails button {
  display: grid;
  grid-row-start: 2;
  align-self: start;
  align-content: center;
  background: white;
  height: 40px;
  width: 160px;
}

.productSingle {
  list-style: none;
  display: grid;
  place-items: center;
  margin-bottom: 25rem;
}

.productSingle h5 {
  color: red;
}
/* END Product styles */

.cart {
  min-height: 90vh;
  display: grid;
  align-content: center;
  justify-content: center;
}

/* @media (max-width: 600px) {
  
} */
