/* Layout styles */
.header {
  height: 40px;
  border: 1px solid darkgray;
  background: lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.footer {
  margin: 0 auto;
  height: 60px;
  border: 1px solid #F19953;
  border-top: 4px solid #F19953; 
  background: lightgray;
}

/* .layout {
  min-height: 80vh;
} */
/* END Layout styles */


/* Landing page styles */
.main {
  display: grid;
  grid-template-rows: auto auto auto;
  place-items: center;
}

.hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-row: 1 / span 1;
  margin-bottom: 40px;
  position: relative;
}

.heroLogo {
  display: grid;
  position: absolute;
  align-self: center;
  justify-self: center;
  z-index: 1;
}

.banner {
  display: grid;
  /* grid-template-rows: 130px 130px; */
  margin-bottom: 40px;
  max-width: 80%;
  position: relative;
  
}

.banner button {
  position: absolute;
  display: grid;
  grid-row-start: 1;
  align-self: center;
  place-content: center;
  background: #F19953;
  width: 160px;
  height: 55px;
  font-size: .9rem;
  color: white;
  border: none;
  margin-left: 60px;
  margin-top: 100px;
}
.banner p {
  display: grid;
  grid-row-start: 1;
  position: absolute;
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 105px;
}

.featured {
  display: grid;
  grid-row: 3 / span 1;
  align-items: center;
}

.featuredList {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  place-items: center;
}

/* END Landing page styles */


/* Categories page styles */
.categories {
 display: grid;
 grid-template-columns: 1fr 1fr;
 place-items: center;
 margin-bottom: 600px;
}

.category {
  display: grid;
  margin-top: 50px;
  padding: 10px;
}
/* END Categories page styles */


/* Product styles */
.productContainer {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px 300px 300px;
}

.productImages {
  display: grid;
  grid-column-start: 1;
  grid-row-start: 1;
  padding: 1rem;
}

.imageMain {
  display: grid;
  place-self: center;
  margin-bottom: 20px;
}
.productThumbs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-start: 2;
  grid-column: 1 / -1;
}

.imageThumb {
  display: grid;
  justify-self: center;
  background: darkgrey;
  width: 80px;
  height: 80px;
}

.productDetails {
  display: grid;
  grid-template-rows: 50px 80px 60px 100px;
  color: #56351E;
  justify-items: start;  
}
.productTitle {
  display: grid;
  grid-row-start: 1;
}
.productPrice {
  display: grid;
  grid-row-start: 2;
  color: #F19953;
}

.productInfo {
  width: 70%;
  display: grid;
  grid-row-start: 4;
  align-self: start;
}

.addButton {
  display: grid;
  grid-row-start: 3;
  align-self: start;
  align-content: center;
  background: white;
  height: 40px;
  width: 160px;
}

.productSingle {
  list-style: none;
  display: grid;
  place-items: center;
  margin-bottom: 25rem;
}

.productSingle h5 {
  color: #F19953;
}
/* END Product styles */

.cart {
  display: grid;
  align-content: center;
  justify-content: center;
}

/* @media (max-width: 600px) {
  
} */
