/* Layout styles */
.header {
  height: 40px;
  border: 1px solid darkgray;
  background: lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.footer {
  margin: 0 auto;
  height: 60px;
  border: 1px solid #F19953;
  border-top: 4px solid #F19953; 
  background: lightgray;
}

.layout {
  min-height: 90vh;
}

/* END Layout styles */


/* Landing page styles */
.main {
  display: grid;
  grid-template-rows: auto auto auto;
  place-items: center;
}

@media (max-width: 600px) {
  .main {
    display: grid;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
  }
}

.hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-row: 1 / span 1;
  margin-bottom: 40px;
  position: relative;
}
@media (max-width: 600px) {
  .hero {
    display: grid;
  }
}

.heroLogo {
  display: grid;
  position: absolute;
  align-self: center;
  justify-self: center;
  z-index: 1;
}

.banner {
  display: grid;
  margin-bottom: 40px;
  max-width: 80%;
  position: relative;
}

@media (max-width: 600px) {
  .banner {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    max-width: 100%;
    position: unset;
  }
}

.banner button {
  position: absolute;
  display: grid;
  grid-row-start: 1;
  align-self: center;
  place-content: center;
  background: #F19953;
  width: 160px;
  height: 55px;
  font-size: .9rem;
  color: white;
  border: none;
  margin-left: 60px;
  margin-top: 100px;
}

@media (max-width: 600px) {
  .banner button {
    display: grid;
    background: #56351E;
  }
}

.banner p {
  display: grid;
  grid-row-start: 1;
  position: absolute;
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 105px;
}

@media (max-width: 600px) {
  .banner p {
    /* display: grid; */
    color: #F19953;
  }
}

.featured {
  display: grid;
  grid-row: 3 / span 1;
  align-items: center;
}

@media (max-width: 600px) {
  .featured {
    /* display: grid;
    grid-template-columns: 50% 50%;
    grid-row-start: 4; */
  }
}

.featuredList {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  place-items: center;
}

@media (max-width: 600px) {
  .featuredList {
    /* display: grid; */
    /* grid-template-rows: 1fr 1fr; */
  }
}

/* END Landing page styles */


/* Categories page styles */
.categories {
 display: grid;
 grid-template-columns: 1fr 1fr;
 place-items: center;
 margin-bottom: 600px;
}

@media (max-width: 600px) {
  .categories {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 200px ;
    padding: 25px;
  }
}

.category {
  display: grid;
  margin-top: 50px;
  padding: 10px;
}

@media (max-width: 600px) {
  .category {
    display: grid;
    margin: 0 auto;
  }
}
/* END Categories page styles */


/* Product styles */
.productContainer {
  padding: 2rem;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 300px 300px 300px;
}
@media (max-width: 600px) {
  .productContainer {
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 1fr;
  }
}

.productImages {
  display: grid;
  grid-column-start: 1;
  grid-row-start: 1;
  padding: 1rem;
  align-items: center;
}

.imageMain {
  display: grid;
  place-self: center;
  margin-bottom: 40px;
}
@media (max-width: 600px) {
  .imageMain {
    display: grid;
    grid-row-start: 1;
  }
}

.productThumbs {
  display: grid;
  grid-template-columns: 80px 80px 80px;
  justify-content: center;
}
@media (max-width: 600px) {
  .productThumbs {
    display: none;
  }
}

.imageThumb {
  display: grid;
  width: 80px;
  height: 80px;
  padding: 10px;
}

.productDetails {
  display: grid;
  grid-template-rows: 50px 80px 60px 100px;
  color: #56351E;
  justify-items: start;  
}

.productTitle {
  display: grid;
  grid-row-start: 1;
}
.productPrice {
  display: grid;
  grid-row-start: 2;
  color: #F19953;
}

.productInfo {
  width: 55%;
  display: grid;
  grid-row-start: 4;
  align-self: start;
}
@media (max-width: 600px) {
  .productInfo {
    display: grid;
    grid-row-start: 4;
    justify-self: center;
    width: 100%;
    padding: 20px;
  }
}

.addButton {
  display: grid;
  grid-row-start: 3;
  align-self: start;
  align-content: center;
  background: white;
  height: 40px;
  width: 160px;
}
@media (max-width: 600px) {
  .addButton {
    display: grid;
    place-self: center;
  }
}

.productSingle {
  list-style: none;
  display: grid;
  place-items: center;
  margin-bottom: 25rem;
}

.productSingle h5 {
  color: #F19953;
}
/* END Product styles */


/* Cart page styles */
.cart {
  display: grid;
  align-content: center;
  justify-content: center;
}
